body {
    margin: 26px;
    background-color: #F6F6F6;
    color: black;
}

/* CARD STYLES */
.card {
    line-height: 19px;
}

/* CARD IMG STYLES */



/* CARD MAIN STYLES */




/* CARD TITLE STYLES */




/* CARD DESCRIPTION STYLES */