/* OVERALL BACKGROUND STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 26px;
    background-color: #f1f1f1;
}

/* CONTAINER STYLES */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD STYLES */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    width: 308px;
    height: 323px;
    
}

.column {
    float: left;
    width: 33%;
    padding: 13px;
}

.row {
    margin-left: auto;
    
}

.row:after {
    
    display: table;
    clear: both;
}


/* CARD IMG STYLES */

.card-img {
    width: 308px;
    height: 133px;
}

/* CARD MAIN STYLES */




/* CARD TITLE STYLES */




/* CARD DESCRIPTION STYLES */




@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 26px;
    }
}